* {
	box-sizing: border-box;
}

.line-top {
	border-top: 3px solid $green;
}

h1 {
	font-family: $font-family-open-sans;
	text-shadow: 4px 2px 2px black;
}

.ffamily-open {
    font-family: $font-family-open-sans;
}

.ffamily-barlow {
	font-family: $font-family-barlow;
}

.ffamily-nunito {
	font-family: $font-family-nunito;
}

.new {
	box-shadow: 2px 2px 6px black;
}

#tableContainer {
	box-shadow: 3px 3px 10px black;
}